$fontFamily: 'IQOS-Regular',
'Helvetica',
'Arial',
'Verdana',
sans-serif;
$fontSize: 16px;
$mainColor: #34303D;
$minWidth: 360px;
$maxWidthContainer: 1440px;

$color-black: #000;
$color-white: #fff;
$color-light: #FFFDFB;
$color-blue: #01D1D2;
$color-B8: #B8B7BB;
$color-04: #042242;
$color-34: #34303D;
$color-00: #00D1D2;
$color-E1: #E1E0E2;
$color-93: #949494;
$color-F9: #F9F9F9;
$color-001: #001F40;
$color-57: #57555D;
$color-EB: #EB5757;
$color-16: #168b3f;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xsm: 479px;
$xxsm: 411px;